header
  .content
    .nav
      img.logo(src="../../assets/images/VFlock.png")
      .links
        a.req(href="#") Request to join
        a.login(href="#") 
          span Login
    .startup
      .startup__content
        a(href="#") For Startups
    .investor
      .investor__content
        a(href="#") For Investors
    
    h1.title
      span.trusted Trusted
      span.investment Investment Platform
