doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		block vars
		title Family Wise - #{title}
		meta(name="description",content=description)
		link(rel="shortcut icon", type="image/x-icon", href="images/fav.png")
	body(class=pageClass ? pageClass : '')
		include ../includes/header.pug
		block content
